
<footer class="footer footer-dark footer-fixed">  
  <div class="text-center p-3 navbar-dark bg-dark" style="color: rgba(255, 255, 255);">
   Copyright © 2022 Birgunj Car Service All rights reserved.
  </div>
</footer>  